<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bookmanage">

	<select id="count" resultType="int">
		SELECT count(*) FROM booklist
	</select>

	<select id="allList" parameterType="admin.bookmanage.dto.PageDTO" resultType="admin.bookmanage.dto.BookmanageDTO">
		<![CDATA[
		SELECT y.*
		FROM(
			SELECT rownum as rm, x.*
			FROM(
				SELECT *
				FROM booklist
				ORDER BY book_keynum desc
			)x
		)y
		WHERE y.rm BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
	<select id="searchCount" parameterType="map" resultType="int">
	  SELECT count(*)
	  FROM(SELECT rownum as rm, x.*
			FROM (SELECT * FROM booklist
		      <if test="searchword != null">
		         <if test="option eq 'title'">
		            WHERE title like '%'||#{searchword}||'%'
		         </if>
		         <if test="option eq 'author'">
		            WHERE author LIKE '%'||#{searchword}||'%'
		         </if>
		         <if test="option eq 'isbn'">
		            WHERE isbn LIKE '%'||#{searchword}||'%'
		         </if>
		      </if>
      			  ) x
      		) y
	</select>
	
	<select id="searchList" parameterType="admin.bookmanage.dto.PageDTO" resultType="admin.bookmanage.dto.BookmanageDTO">
	  SELECT y.*
	  FROM(SELECT rownum as rm, x.*
			FROM (SELECT * FROM booklist
		      <if test="searchword != null">
		         <if test="option eq 'title'">
		            WHERE title like '%'||#{searchword}||'%'
		         </if>
		         <if test="option eq 'author'">
		            WHERE author LIKE '%'||#{searchword}||'%'
		         </if>
		         <if test="option eq 'isbn'">
		            WHERE isbn LIKE '%'||#{searchword}||'%'
		         </if>
		      </if>
      			  ) x
      		) y
      WHERE y.rm BETWEEN #{startRow} AND #{endRow}
	</select>	
	
	
	<select id="bookinfo" parameterType="int" resultType="admin.bookmanage.dto.BookmanageDTO">
		SELECT *
		FROM booklist
		WHERE book_keynum=#{book_keynum}
    </select>

	<insert id="insert" parameterType="admin.bookmanage.dto.BookmanageDTO">
	    INSERT INTO booklist (book_keynum, isbn, title, author, publisher, pub_date, contents, thumbnail, receive_date, category_s, book_category, loan_state, borrow_state)
	    SELECT booklist_book_keynum_seq.nextval, #{isbn}, #{title},
	      <choose>
	        <when test="author == ''"> '미상'</when>
	        <otherwise> #{author} </otherwise>
	      </choose>,
	      #{publisher}, #{pub_date},
	      <choose>
	        <when test="contents == ''"> '도서정보 미제공'</when>
	        <otherwise> #{contents} </otherwise>
	      </choose>,
	      #{thumbnail, jdbcType=VARCHAR},
	      sysdate,
	      k.category_s,
	      k.book_category,
	      'Y',
	      'N'
	    FROM kdc k
	    WHERE k.category_s = #{category_s}
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM booklist
		WHERE book_keynum=#{book_keynum}
	</delete>
	  
</mapper>